.login{
    width:100%;
    height:fit-content;

    display:flex;
    justify-content: center;
    background-color: #3b3b3f;
    padding-top: 8em;
    //background-color: white;

    hr{
        width:90%;
        margin:0;
        border-color:0px #3b3b3f
    }

    
}
.login_title{
    color:white;
    font-size:8em;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    
}

.input_wrapper{
    
    height:fit-content;
    
    .container_shadow{
        width:100%;
        &:after{
        content:'';
        position:relative;
        display:flex;
        border-radius: 100%;
        bottom:-2em;
        left:0;
        width:inherit;
        height:18px;
        background:rgba(0,0,0,0.4);
        filter:blur(4px);
    }
    }
}
.input_container{
padding:10px 6px;
    background-color: white;
    justify-content: center;

    align-items: center;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    font-size:20px;
    color: black;
    input{
        width:300px;

        text-indent: 10px;
    }
}
.input{
    display:flex;
    flex-direction: column;
    gap:10px;

    width:300px;
    justify-content: center;
    margin:20px;
    input{
        border-radius:5px;
        font-size:0.75em;
        width:100%;
        height:50px;

    }
}
.social_logins{
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin:20px;

}
.help{
    display:flex;
    flex-direction: row;
    gap:10px;
    font-size:0.7em;
    margin:20px;

}