.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 5em;
}
.page_menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(135deg, #2021249a, #333333);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(radius);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  overflow: hidden;
  left: 0%;
  top: 0%;

  color: white;
  z-index: 30;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.open {
    width: 400px;
    height: 100vh;
    padding: 4em 0em 0 1em;
    h2 {
      font-size: 4em;
    }
    div {
      position: absolute;
      top: 0%;
      left: 88%;
      width: 50px;
      background: linear-gradient(135deg, #6768695d, #6e6c6c71);
      box-shadow: 3px 0px 8px 2px rgb(155, 154, 154);
      filter: contrast(1);
      height: 100%;
      cursor: pointer;
    }
  }
  &.close {
    left: 0%;
    top: 50%;
    width: 75px;
    height: 150px;
    border-radius: 0 110px 110px 0;
    cursor: pointer;
    h2 {
      display: none;
    }
  }
}
.page_menu_list {
  list-style: none;
}
.scroll_menu {
  position: absolute;
  top: 10%;
  left: 85%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #2021249a, #333333);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 120px;
  margin: 7em;
  padding: 1em 1em;
  border-radius: 20px;
  transition: 1s ease-in-out;
  flex-grow: 1;
  z-index: 30;
}
.navigation {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  gap: 1em;
}
.title {
  mix-blend-mode: difference;
  color: white;
  font-size: 3em;
  margin: 1em 1.5em;
  z-index: 0;
}
.banner_video {
  position: absolute;
  width: 100%;
  z-index: 0;
}
.banner {
  display: flex;
  flex-direction: column;

  margin: 3em 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 3em;
  white-space: pre;
  z-index: 10;
}
.section {
  display: flex;
  align-items: center;
  padding: 0 5em;
  margin: 3em 0;
  width: 100%;
  height: 13em;
  color: white;
  font-size: 3em;
  white-space: pre;
  overflow: hidden;
  z-index: 10;
}
.aboutus {
  mix-blend-mode: difference;
  color: white;
  margin: 19em 5em 0;
}
.company {
  padding: 0 5em;
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4em;
  gap: 5em;
  color: white;
}
.company_image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.company_content {
  width: 100%;
  height: 100%;
}
.company_content_list {
  list-style: none;
}
.company_content_title {
  font-size: 3em;
}
.company_content_subtitle {
  margin: 1em 0;
  font-size: 2em;
}
.company_content_detail {
  margin: 1em 0;
  font-size: 1.3em;
  white-space: pre-wrap;
}

.tech {
  padding: 0 5em;
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4em;
  gap: 5em;
  color: white;
}
.tech_content_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech_content_title {
  margin: 0.5em;
  font-size: 3em;
}
.tech_content_subtitle {
  width: 100%;
  height: 3em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5em;
  font-size: 2em;
  flex-grow: 1;

  ul {
    list-style: none;
    li {
      font-size: 0.5em;
    }
  }
}
.tech_image {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(9%) sepia(0%) saturate(80%) hue-rotate(0deg) brightness(91%)
    contrast(2);
}
