.template {
  display: flex;
  flex-direction: column;
}
.template_section {
  margin: 5em;
  color: white;
}
.template_top {
  display: flex;
  align-items: center;
  gap: 10em;
  h2 {
    font-size: 3em;
  }
}
.template_search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50em;
  .search_label {
    position: absolute;
    display: flex;
    padding: 0 1em;
    color: black;
    margin: 0;
    height: 100%;
    left: 1%;
    gap: 1em;
    align-items: center;
  }
  input {
    border-radius: 50px;
    font-size: 1em;
    text-indent: 1em;
    padding: 1em;
    width: 100%;
  }
}
