.custom_content {
  grid-row: 2;
  grid-column: 2;
  font-size: 2em;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px dashed rgb(71, 71, 71);
  background-color: rgb(211, 208, 208);
  position: relative;
  &.selected {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px 0;

    text-size-adjust: none;
    padding: 0;
    font-weight: bold;
    border: none;
    background-color: white;
  }
  &.vertical_expand {
    grid-row: 1/4;
  }
  &.vertical_changable {
    grid-row: 2/4;
  }
}
