.template_item{
    width: 16em;
    height: 20em;
    background-color: white;
    .template_details{
        width:100%;
        height:100%;
        opacity:0;
        color:white;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    &:hover{
        background-color:rgb(255,255,255,0.5);
        animation:fade-out 0.4s ease-out;
        cursor:pointer;
        .template_details{
            opacity:1;
            animation:text-up 0.5s ease-in;
        }
    }
}

@keyframes fade-out{
    0%{
        background-color:rgb(255,255,255,1);
    }
    100%{
        background-color:rgb(255,255,255,0.5);
    }
}
@keyframes text-up{
    0%{
        transform:translateY(0.2em);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}