.customizer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #636363;
  border-radius: 10px;
  padding: 1em;
  gap: 0.5em;
  white-space: break-spaces;
}
.customGNB {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 2em;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    animation: onHover 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #424242;
  }
  &:active {
  }
}
.customBody {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  height: 8em;
  gap: 0.5em;
}
.customContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  min-height: 8em;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    animation: onHover 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #424242;
  }
}
.customSidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  min-height: 8em;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  &:hover {
    animation: onHover 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #424242;
  }
}
.customFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 2em;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    animation: onHover 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #424242;
  }
}

@keyframes onHover {
  0% {
    background-color: black;
  }
  100% {
    background-color: #424242;
  }
}
