@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Regular.otf');
}
*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  background-color: #202124;
  font-family: 'Pretendard';
  overflow-x:hidden;
}
ul{
  padding:0;
}
.app{
  width:100dvw;
  height:100dvh;
}