.screen {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: black;
  animation: fade-in 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  &.off {
    opacity: 0;
    animation: fade-out 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.canvas {
  width: 90%;
  height: 90vh;
  margin: 5em 0 0 0;

  ::-webkit-scrollbar {
    visibility: hidden;
  }
}
.ui {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1em;
  color: white;
  position: absolute;
  pointer-events: none;
  z-index: 20;
  .scroll_ui {
    bottom: 5%;
    font-weight: 500;
    position: relative;
    &.on {
      animation: fade-in 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    }
    &.off {
      animation: fade-out 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    }
  }
}

.scroll {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 10em;
  color: white;
  position: absolute;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  &.on {
    animation: fade-in-slide 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: translateY(100px);
  }
  &.off {
    animation: fade-out 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: translateY(0);
  }
  &.hidden {
    animation: fade-out 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }
}
.snb {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #2021249a, #333333);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 300px;
  margin: 7em 3em;
  padding: 2em;
  border-radius: 20px;
  flex-grow: 1;
}
.navigation {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  gap: 1em;
}

section {
  position: relative;
  z-index: 0;
}

@keyframes fade-in-slide {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
